/* ... Poprzednie style ... */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: #fff;
}

.logo h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: url(back.jpg);
}

/* Dodaj odstępy między kolumnami */
.column {
  flex: 1;
  padding: 20px;
  margin: 10px; /* Odstęp między kolumnami */
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column h2 {
  text-align: center;
}

.column p {
  text-align: justify;
}

/* Styl przycisków */
.przycisk {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.przycisk:hover {
  background-color: #45a049;
}

/* ... Pozostałe style ... */

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-content p {
  margin: 5px 0;
}

/* Dodatkowe style dla przycisku */
.przycisk:hover {
  background-color: #45a049;
}

.content {
  padding: 20px;
  background-color: #f9f9f9;
  text-align: center;
}
